
body {
	background-color: #00bfff;
	height: 100%;
	overflow: hidden;
	
	  animation-name: sky;
	  animation-duration: 10s;
	
	  animation-iteration-count: infinite;
	  z-index: -1;
  }
  
  @keyframes sky {
	  
	  0%   {background-color:#00bfff;}
	  50%  {background-color:#ff5000;}
	  75%  {background-color:#00345b;}
	  100% {background-color:#001321;}
  }
  
  @keyframes moveSun {
	  
	  0%   {
	  transform: translate(-50px, -100px);}
	  25%  {
	  transform: translate(0,0);}
	  75%  {
	  transform: translate(100px, 200px);}
	  100%  {
	  transform: translate(150px, 400px);}
  }
  
  .sun {
	background-color: #fff600;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	right: 100px;
	border: 20px solid #fffbb2;
	
	  animation-name: shine, moveSun;
	  animation-duration: 1s, 20s;
	
	  animation-iteration-count: infinite;
	  animation-direction: alternate, normal;
  }
  @keyframes shine {
	  from {border-width: 20px;top:20px;right: 100px;}
	  to {border-width: 2px;top:38px;right: 118px;}
  }
  .cactus {
	position: absolute;
	height: 50%;
	z-index: -1;
	top: 310px;
	left: 100px;
  }
  
  .coyote {
	position: absolute;
	width: 200px;
	top: 52%;
	left: 80%;
	background-color: transparent;
  }
  
  .sand {
	height: 600px;
	width: 1000px;
	height: 600px;
	background-color: #ffcc00;
	border-radius: 50% 50% 0 0;
	position: absolute;
	top: 75%;
	left: 60%;
	z-index: -1;
  }
  .first{
	left: -10%;
  }
  .middle{
	left: 24%;
	
  }
  
  .sand-inner {
	border-radius: inherit;
	background-color: #ffae00;
	height: 500px;
	width: 800px;
	position: absolute;
	top: 2%;
	left: 10%;
  }
  .bush {
	position: absolute;
	width: 100px;
	top: 88%;
	left: -10%;
	
	  animation-name: move, rotateB;
	  animation-duration: 10s, 1s;
	  animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  .bush2 {
	position: absolute;
	width: 100px;
	top: 88%;
	left: -10%;
	
	  animation-name: move, rotateB;
	  animation-duration: 20s, 1s;
	  animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  .bush3 {
	position: absolute;
	width: 100px;
	top: 88%;
	left: -10%;
	
	  animation-name: move, rotateB;
	  animation-duration: 30s, 1s;
	  animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  
  @keyframes move {
	  from {left: -10%;}
	  to {left: 100%;}
  }
  @keyframes rotateB {
	  0%   {transform: rotate(0deg);}
	  50%  {transform: rotate(180deg);}
	  100% {transform: rotate(360deg);}
  }